astroid==1.6.1
cached-property==1.3.1
certifi==2018.1.18
chardet==3.0.4
colorama==0.3.9
docker==2.7.0
docker-compose==1.19.0
docker-pycreds==0.2.1
dockerpty==0.4.1
docopt==0.6.2
idna==2.6
isort==4.3.3
jsonschema==2.6.0
lazy-object-proxy==1.3.1
lxml==4.1.1
mccabe==0.6.1
nipyapi==0.7.0
pylint==1.8.2
PyYAML==3.12
requests==2.18.4
six==1.11.0
texttable==0.9.1
urllib3==1.22
websocket-client==0.46.0
wrapt==1.10.11
